# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/
.env.*

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Log Files
*.log

# Temporary Files
*.tmp

# Python Cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Splunk
*.splunk
